@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    display: block;
    color: inherit;
    transition: .3s;
}
img{display: block;}
body{color: #333;}

#wrap{display: flex; height: 850px;}
#right{width: calc(100% - 200px);}
/* right폭 문제지 그대로 계산기 돌려야함  */

.logo img{ width: 200px;}
.nav{padding: 30px  10px;}
/* 네비 위 아래 간격주기~~~ */

.sub{display: none;}
/* .gnb li:hover .sub{display: block;} */
/* js하기 전에 락 걸어주기 */
/* 제일 먼저 정리해주는 거~~~~ */

.gnb a{
    line-height: 40px;
    padding-left: 5px;
}
.sub a{
    line-height: 32px;
    padding-left: 20px;}

.gnb li:hover>a{background: #ccc;}

.gnb{box-shadow: 0 0 3px #333;}
.gnb>li{border-bottom: 1px #ccc solid;}
/* .gnb에만 밑줄생김 */
/* .gnb li{border-bottom: 1px #ccc solid;} */
/* .sub 에도 밑줄 생겨버림 */

.spot a{display: inline-block;}
/* 로그인 회원가입 한줄됨~~~ */
.spot{text-align: center; padding-top: 30px;}
.spot a:hover{text-decoration: underline;}

/* #slide */
#slide{height: 400px; overflow: hidden;}
#slide a{height: 400px; position: relative;}
#slide li:nth-child(1) a{
    background: url("../img/slide1.jpg") center center / cover;
}
#slide li:nth-child(2) a{
    background: url("../img/slide2.jpg") center center / cover;
}
#slide li:nth-child(3) a{
    background: url("../img/slide3.jpg") center center / cover;
}
#slide li:nth-child(4) a{
    background: url("../img/slide1.jpg") center center / cover;
}

#slide .text{
    position: absolute;
    padding: 20px;
    background: rgba(0,0,0,.8);
    color: #fff;
}
#slide ul{animation: slide 9s infinite;}
@keyframes slide {
    0%{margin-top: 0;}
    33%{margin-top: -400px;}
    66%{margin-top: -800px;}
    100%{margin-top: -1200px;}
}